table {
  width: 100%;
}

.principal {
  position: relative;
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 40px;
  margin: 10px;
  padding: 0 8px;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 1em;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 76vh;
  overflow: auto;
}

.table-header {
  position: fixed;
  top: 140px;
}

.mat-header-cell {
  text-align: center;
}

.mat-column-id,
.mat-column-age,
.mat-column-phone,
.mat-column-gender {
  text-align: center;
}

.mat-column-created {
  max-width: 124px;
}

.actions-column {
  width: 40px;
}

.button-actions {
  border: none;
  background-color: transparent;
}

.button-menu {
  display: flex;
  justify-content: center;
  padding: 0;
}

.icon-edit {
  margin: 0 !important;
  color: blue !important;
}

.icon-delete {
  margin: 0 !important;
  color: red !important;
}

/* ::ng-deep .mat-menu-panel {
  min-width: 20px !important;
}

::ng-deep .mat-menu-item .mat-icon {
  margin-right: 0px !important;
} */
