.header-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--color-primary);
}

.image-logo {
  height: 30px;
  border-radius: 100%;
  margin-left: 20px;
}

.title {
  color: var(--color-tertiary);
  padding-left: 20px;
  letter-spacing: 5px;
}
