table {
  width: 100%;
}

.principal {
  position: relative;
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input-field {
  height: 30px;
  border: none;
}

.add-supplier-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 40px;
  margin: 10px;
  padding: 0 8px;
  font-size: 1em;
}

.button-icon {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
}

.routing-icon {
  color: var(--color-tertiary);
  width: auto;
  height: auto;
  margin: 0 !important;
}

.table-container {
  position: relative;
  height: 74vh;
  overflow: auto;
}

.table-header {
  position: fixed;
  top: 140px;
}

.mat-header-cell {
  text-align: center;
}

.mat-column-id,
.mat-column-age,
.mat-column-phone,
.mat-column-gender {
  text-align: center;
}

.mat-column-created {
  max-width: 124px;
}

.actions-column {
  width: 40px;
}

.button-actions {
  border: none;
  background-color: transparent;
}

.button-menu {
  display: flex;
  justify-content: center;
  padding: 0;
}

.icon-edit {
  margin: 0 !important;
  color: blue !important;
}

.icon-delete {
  margin: 0 !important;
  color: red !important;
}

.pagination-tab {
  position: fixed;
  bottom: 3px;
  width: calc(100vw - 10px);
  margin-left: 0.2px;
}
